:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}

/* Globales */
html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--oscuro) 100%);
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
}
.sombra {
    padding: 2rem;
    margin-bottom: 3rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    box-shadow: 0px 11px 15px -9px rgba(0,0,0,0.63);
    background-color: #181717;
    padding: 2rem;
    border-radius: 1rem;
}

.descriptions-stack {
    color: #ffffff;
}

/* Tipografia */

h1 {
    font-size: 3.8rem;
    color: var(--blanco);
}



h2 {
    font-size: 2.8rem;
}

main h2 {
    color: #0097A7;
}

h3{
    font-size: 1.8rem;
}
h1,h2,h3 {
    text-align: center;
}

/* Titulos */

.sp {
    color: var(--secundario);
    font-size: 1.8rem;
}

.content-color {
    background-color:var(--oscuro);
}

#welcome {
    color: var(--blanco);
}

.titulo span{
    
    font-size: 2rem;
}

/* Navegacion principal */

@media (min-width: 768px) {
    .boton {
        width: auto;
    }
    
}

.nav-bg {
    background-color: var(--secundario);
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    
}
@media (min-width: 480px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}
.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}



.navegacion-principal a:hover{
    background-color: #4b6bd6;
    color: var(--oscuro)
    
}

/* Hero */

.hero {
    background-image: url(../img/SL-103020-37400-12.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    position: absolute;
    background-color: rgb( 0 0 0 / 70%);
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2,
.contenido-hero p {
    color: var(--blanco);
}

.contenido-hero .ubicacion {
    display: flex;
    align-items: flex-end;
}

/* Servicios */
@media (min-width: 768px) {
.servicios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}   
}
.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.servicio h3{
    color: var(--secundario);
    font-weight: 400;
}
.servicio p{
    line-height: 2;
    
}
.servicio .iconos{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

/* Contacto */

.formulario {
    background-color: var(--gris);
    width: min( 60rem, 100%); /** Utilizar el valor mas pequeno */
    margin: auto;
    border-radius: 1rem;
    width: 75%;
    height: auto;

}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}

.contenedor-campos {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 2.5em;
}

.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    width: auto;
    display: block;
    
}

.campo input {
    height: 3.5rem;
    width: auto;
}

.campo textarea {
    height: 5rem;
    width: 5rem;
}


footer {
    color: var(--blanco);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
}




/*          Tarjeta                 */

.cont-tarjeta{
    width: 200px;
    height: 350px;
    margin: auto;
    transform: translateY(80px);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(3, 0, 173);
    box-shadow: 4px 4px 10px rgb(0 0 0 / 10%);
    min-height: 300px;
    max-width: 300px;
}
.cont-tarjeta__logo{
    width: 200px;
    height: 200px;
    margin: auto;
}
.cont-tarjeta__logo h1{
    text-align: center;
    margin-top: 10px;
    color: rgb(80, 80, 80);
    font-weight: bolder;
    font-size: 1.7rem;

}
.cont-tarjeta__logo img{
    width: 180px;
    height: 220px;
    border-radius: 50%;
    min-width: 200px;
    max-width: 200px;
}
.cont-tarjeta p{
    text-align: center;
    margin-top: 20px;
    color: #9a9a9a;
    font-weight: bolder;
}
.cont-tarjeta__iconos {
    display: flex;
    flex-direction: row;
    transform: translateY(100px);
    justify-content: center;
}
.cont-tarjeta__iconos div>img{
    height: 20px;
    width: 20px;
    margin-top: 7px;
}
.cont-tarjeta__iconos div{
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}
.cont-tarjeta__iconos div >p{
    margin-top: 10px;
}
.cont-tarjeta__iconos .div1{
    background-color: #f743e8d3;
}
.cont-tarjeta__iconos .div1:hover{
    background-color:#f155e4ad;
}
.cont-tarjeta__iconos .div2{
    background-color: #022bb1;
}
.cont-tarjeta__iconos .div2:hover{
    background-color:#123dcc;
}
.cont-tarjeta__iconos .div3{
    background-color: #3b00dd;
}

.cont-tarjeta__iconos .div3:hover{
    background-color: #5217f3;
}

.cont-tarjeta article{
    transform: translateY(130px);
    text-align: center;
    color:#505050;
    font-weight: bolder;
    line-height: 1.4rem;
}
